<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tonmo.bookticket">

    <application
        android:name=".BookTicket"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchBusActivity" />
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MatchedBusActivity"
            android:parentActivityName=".SearchBusActivity" />
        <activity android:name=".BookingsActivity"
            android:parentActivityName=".SearchBusActivity"></activity>
    </application>

</manifest>